.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.top {
  padding-left: 1%;
  padding-top: 2%;
}
.results {
  margin-top: 2%;
  border:1px solid black;
  width: 800px;
}

img {
  border:1px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
